*{
    margin: 0 auto;
    padding: 0;
}

body{
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
}

.login_form{
    position: relative;
    top: 40%;
    width: 400px;
    background-color: lavender;

}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.login_form > h1 {
    top: -100px;
    left: 85px;
    position: absolute;
    font-size: 40px;
    color: white;
}
